@model List<ProjectModel>

@foreach (var job in Model)
{
    <div class="row experience-wrap my-5">
        <div class="col-3">
            <span>@job.ProjectDate</span>
        </div>
        <div class="col-9">
            <h4 class="text-emphasis"><a href="@job.URL" target="_blank">@job.Title</a></h4>
            <p>@job.Description</p>
            <ul class="skills-wrap">
                @foreach (var skill in job.Skills)
                {
                    <li class="skill">@skill.Name</li>
                }
            </ul>
        </div>
    </div>
}